#h3{
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    font-size: 30px;
}

#age2{
    margin-left: 20%;
}

#baby{
    margin-left: 20%;
    color: burlywood;
    font-size: 30px;
}

#age2{
    background-color: yellow;
    font-size: 25px;
}

body{
    background-color: black;
    color: aliceblue;
}

#b2{
    color: yellow;
    background-color: black;
    margin-left: 20%;
    margin-top: 50px;
    font-size: 30px;
}