#a{
   color: yellow;
margin-left: 20%;
font-size: 50px;
}

body{
    background-color: black;
    color: white;

}

#g{
    color: red;
direction: ltr;
margin-left: 20%;
font-size: 200%;


}
.b{
color: yellow;
background-color: red;
margin-left: 20%;
}

#scrate{
    background-color: black;
    color: black;
}